[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_req

[ req_distinguished_name ]
C  = TW
ST = Taipei
L  = Taipei
O  = Taiwanlife
OU = IntelligentAI
CN = localhost

[ req_ext ]
subjectAltName = @alt_names

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = localhost
DNS.2   = aivex.taiwanlife.com
DNS.3   = minio-kes
DNS.4   = minio
DNS.5   = acp.taiwanlife.com
IP.1    = 10.1.242.15
IP.1    = 10.1.242.139
